body {
  background: #150f21;
  font-size: 18px;
}

h1 {
  color: white;
  text-align: center;
}

p {
  line-height: 1.5;
}

.container {
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* Cards */
.card-column {
  width: 90%;
  height: 90%; 
  float: left;
  padding: 4%;
  box-sizing: border-box;
}

.card {
  width: 92%;
  height: 92%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  background: #eb5160;
  color: #fff;
  cursor: pointer;
  margin-bottom: 60px;
}

.border {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 6px;
  border: 1px solid #fff;
  opacity: 0.5;
  left: -6px;
  top: -6px;
}

.card h2 {
  position: relative;
  padding: 60vh 0px 100px 50px;
  width: 100%;
}

a {
  text-decoration: none;
  color: white;
}

.card > iframe {
  width: 100%;
  height: 54%;
  position: absolute;
  top: -5%;
  left: -6%;
  z-index: 99;
}

.card-column:nth-child(1) > .card-color {
  background-color: #eb5160;
}

.card-column:nth-child(2) > .card-color {
  background-color: #8f3985;
}

.card-column:nth-child(3) > .card-color {
  background-color: #8daa91;
}

.card-column:nth-child(4) > .card-color {
  background-color: #888da7;
}

/* 
  ** Media Queries
  */

@media screen and (max-width: 600px) {
  .card-column {
    width: 90%;
  }

  .column:nth-child(1) > .card-color {
    padding-top: 0px;
  }
}

ul {
  display: flex;
  width: 90%;
  justify-content: space-around;
  flex-wrap: wrap;
}
